---
- name: Install git.
  become: yes
  apt:
    name: git-core
    state: present
    update_cache: true
    cache_valid_time: 3600

- name: clone ubuntu overlay git repository (slow!)
  git:
    repo: git://kernel.ubuntu.com/ubuntu/ubuntu-trusty.git
    dest: "{{ grsecurity_build_download_directory }}/ubuntu-trusty"
    force: yes
    # since this clone takes a long time, just grab
    # the first layer. can then pull manually to update.
    depth: 1
    # definitely don't want to do this, but only
    # other option is scanning kernel.ubuntu.com
    # and accepting whatever is returned
    accept_hostkey: yes
    version: master
  tags:
    - git

- name: copy kernel package files
  command: cp -a /usr/share/kernel-package {{ grsecurity_build_download_directory }}/ubuntu-package
  args:
    creates: "{{ grsecurity_build_download_directory }}/ubuntu-package"

- name: copy ubuntu overlay control files
  command: >
     cp {{ grsecurity_build_download_directory }}/ubuntu-trusty/debian/control-scripts/{{ item }}
        {{ grsecurity_build_download_directory }}/ubuntu-package/pkg/image/
  with_items:
    - postinst
    - postrm
    - preinst
    - prerm
  # This should use the copy module but CI doesnt run this scenario yet so skip
  # ansible linting for now
  tags: skip_ansible_lint

- name: copy ubuntu overlay header files
  copy:
    src: "{{ grsecurity_build_download_directory }}/ubuntu-trusty/debian/control-scripts/headers-postinst"
    dest: "{{ grsecurity_build_download_directory }}/ubuntu-package/pkg/headers/headers-postinst"
    remote_src: "yes"
