---
# Install packages before fetching dynamic URLs, since python-requests
# is required by the URL-fetching Ansible module.
- import_tasks: packages.yml
  tags: apt

- name: Include grsecurity download URLs.
  # Dynamically reference newest patch and kernel versions,
  # according to patch type 'test' or 'stable'.
  grsecurity_urls:
    patch_type: "{{ grsecurity_build_patch_type }}"
  tags: always

- import_tasks: gpg_keys.yml
  tags: gpg

- import_tasks: fetch_linux_kernel_source.yml

- import_tasks: fetch_grsecurity_files.yml
  when: grsecurity_build_patch_filename is not defined or
        not grsecurity_build_patch_filename

- import_tasks: copy_grsecurity_files.yml
  when: grsecurity_build_patch_filename is defined and
        grsecurity_build_patch_filename != ''

- import_tasks: fetch_ubuntu_overlay.yml
  tags: ubuntu_overlay
  when: grsecurity_build_include_ubuntu_overlay == true

- import_tasks: verify.yml

- import_tasks: ccache.yml
  tags: ccache
  when: grsecurity_build_use_ccache == true

- import_tasks: prepare_source_directory.yml
  tags: prepare

- import_tasks: configure.yml
  tags: configure
  when: grsecurity_build_strategy != "manual" or
        grsecurity_build_custom_config != ''

- import_tasks: compile.yml
  tags: compile
  when: grsecurity_build_strategy != "manual" or
        grsecurity_build_custom_config != ''
