---
- name: Bootstrap user env.
  hosts: all
  remote_user: root
  tasks:
    - name: Set passwordless sudo.
      lineinfile:
        dest: /etc/sudoers
        regexp: '^%sudo'
        line: '%sudo ALL=(ALL) NOPASSWD:ALL'
        validate: '/usr/sbin/visudo -cf %s'

- name: Configure kernel build.
  hosts: all
  pre_tasks:
    # You can set these values via env vars:
    #
    #   * GRSECURITY_USERNAME
    #   * GRSECURITY_PASSWORD
    #
    # The role will then automatically pick them up and these assert
    # statements will pass.
    - name: Check for grsecurity login credentials.
      assert:
        that:
          - grsecurity_build_download_username != ''
          - grsecurity_build_download_password != ''

  remote_user: vagrant
  environment:
    USER: vagrant
  roles:
    - role: ansible-role-grsecurity-build
      grsecurity_build_patch_type: stable3
      grsecurity_build_custom_config: config-securedrop-4.14
      tags: kernel
